DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=movie_rec
REDIS_PASSWORD=
JWT_SECRET=VGhpc0lzQURldmVsb3BtZW50U2VjcmV0S2V5VGhhdElzQXRMZWFzdDY0Qnl0ZXNMb25nRm9ySFM1MTJBbGdvcml0aG0hIQ==
CORS_ORIGINS=http://localhost:3000
NVD_API_KEY=
